<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Details</title>
</head>

<body>
    <h2>{{data.activity_name}}</h2>
    <p>{{data.catalog_description |safe}}</p>
    <p>This activity runs from {{data.default_beginning_date}} to {{data.default_ending_date}}</p>
    <p>Openings: {{data.open_spaces}}</p>
    <h3><a href="{{data.public_url}}">Enroll Now</a></h3>
    <p>Back to <a href={{url_for('activities')}}>Activity List</a></p>
</body>

</html>